* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Serif;
}

.page {
  background: #f4eed5;
  border-radius: 5px;
  color: #04192e;
}

.page-content {
  justify-content: center;
  padding: 20px;
  text-align: center;
}

.cover {
  background-image: url("components/images/BookCover.png");
  background-size: 320px 500px;
  color: #ddc184;
  font-weight: bold;
  font-size: 44px;
  line-height: 1;
}

.Backcover {
  background-image: url("components/images/BookCover.png");
  background-size: 320px 500px;
}

.book-container {
  width: 640px;
  height: 500px;
}
.fake-button {
  width: 52.3px;
  height: 52.3px;
}

.next-button {
  margin: 10px;
  border: 2px solid #f4eed5;
  background-color: #f4eed5;
  padding: 8px 8px;
  font-weight: 500;
  color: black;
  border-radius: 100%;
}
.next-button:hover {
  color: #f4eed5;
  background-color: black;
}

.def-container {
  position: absolute;
  background-color: #2c3e50;
  font-size: 16px;
  line-height: 1em;
  color: #f4eed5;
  padding: 10px;
  margin-left: 40px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  right: 10px;
}

.hover-text {
  color: #105fb3;
}
.hover-text:hover {
  color: #04192e;
}
.def-image {
  width: 100px;
  height: 100px;
  padding-right: 10px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  object-fit: cover;
}

.bigger-modal-container {
  position: relative;
  display: grid;
  place-items: center;
}
.moon-img {
  border-radius: 100%;
  height: 200px;
  animation-name: spin;
  animation-duration: 10000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  margin-top: 30px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg); /* Start at 0 degrees rotation */
  }
  100% {
    transform: rotate(360deg); /* Rotate a full 360 degrees */
  }
}

.modal-container {
  position: absolute;
  bottom: -20px;
  right: -10px;
  background-color: #2c3e50;
  width: 300px;
  height: 300px;
  border-radius: 10px;
  z-index: 999;
}
.modal-title {
  display: flex;
  justify-content: space-between;
}
.modal-text {
  padding: 15px;
}
.link {
  color: #f4eed5;
}
.modal-description {
  display: grid;
}
.image-pages {
  border-radius: 5px;
  width: 250px;
}

.sticky-note-button {
  margin-top: 10px;
  padding: 6px 10px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  background-color: #2c3e50;
  color: #f4eed5;
  border: 1.5px solid #2c3e50;
}
.sticky-note-button:hover {
  background-color: #f4eed5;
  color: #2c3e50;
}

.sticky-notes-display {
  margin-top: 10px;
  gap: 6px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  width: 640px;
}

.sticky-note {
  background: #2c3e50;
  padding: 8px;
  border: 1.5px solid #105fb3;
  border-radius: 6px;
  min-width: 130px;
  min-height: 120px;
  color: #f4eed5;
}

.sticky-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.sticky-modal-content {
  background-color: #f4eed5;
  padding: 20px;
  border-radius: 10px;
}
.sticky-modal-content h4 {
  color: #2c3e50;
}

.sticky-modal-content textarea {
  width: 100%;
  height: 100px;
  margin-top: 8px;
  padding: 5px;
}

.sticky-modal-buttons {
  display: flex;
  float: right;
  gap: 10px;
  margin-top: 10px;
}

.book-large-container {
  display: flex;
  align-items: center;
  height: 500px;
  margin-top: 50px;
}
.sticky-container {
  display: grid;
  overflow-y: auto;
  overflow-wrap: break-word;
  justify-items: center;
}
.x-button {
  background-color: transparent;
  border: 0px;
  margin-right: 20px;
  font-size: 30px;
  color: #f4eed5;
}

@media (max-width: 760px) {
  .book-container {
    width: 320px;
  }
  .sticky-notes-display {
    width: 320px;
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 440px) {
  .book-large-container {
    width: 320px;
  }
  .sticky-notes-display {
    width: 100%;
  }
}
