html,
body {
  background-image: url("./components/images/spaceBackground.jpg");
  background-size: cover;
  line-height: 25px;
}

#root {
  width: 100%;
  height: 100%;
  min-height: 100vh;
}

.page-content {
  display: flex !important;
  flex-direction: column !important;
  height: 100% !important;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
h4 {
  color: #f4eed5;
  font-size: 20px;
}
button {
  cursor: pointer;
  transition: all ease-in 0.3s;
  z-index: 999;
}
